@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
  --saints-gold: #cfb57d;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.brand-logo > img {
  vertical-align: middle;
}

.mt-0 {
  margin-top: 0 !important;
}

nav ul a,
nav a {
  font-size: inherit;
  color: black;
}

.sidenav li > a {
  color: inherit;
  font-size: inherit;
}

.title {
  font-size: 1em;
  margin: 0.1em 0 0.6em;
  display: inline-block;
  font-style: italic;
  padding: 6px 10px;
  color: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  line-height: 1;
}

nav ul a:hover {
  background-color: #000;
  color: var(--saints-gold);
  font-weight: bold;
}

.saints-gold {
  color: var(--saints-gold);
}
