@import '../../css/config';
$sub-color: grey;
$main-color: black;

@mixin shrinkLabel {
  top: -20px;
  font-size: 12px;
  color: $secondary-color;
}

.group {
  position: relative;
  margin-bottom: 5%;

  .form-input {
    background: none;
    background-color: $primary-color;
    color: $secondary-color;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $sub-color;

    &:focus {
      outline: none;
    }

    &:focus ~ .form-input-label {
      @include shrinkLabel();
    }
  }

  textarea {
    resize: none;
  }

  .form-input-label {
    color: $secondary-color;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;

    &.shrink {
      @include shrinkLabel();
    }
  }
}
